<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='s.css') }}">
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <img style="height: 80vh ; width: 80vh;" src="{{ url_for('static', filename='bgg.jpg') }}" alt="lobg">
        <div class="btn-container">
            <h1><span class="blue">Login</span></h1>
            <form action="/login" method="post">
                <input type="text" style="padding:10px; border-radius:7px; width:300px;" name="username" placeholder="Username" required><br><br>
                <input type="password" style="padding:10px; border-radius:7px; width:300px;" name="password" placeholder="Password" required><br><br><br>
                <button style="background-color: #007bff; padding:10px; width:120px; border-radius:8px; color:#fff" type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
